* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin-top: 15px;
}

#container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-form {
    height: 600px;
    width: 700px;
    background-color: white;

}

#meta-logo {
    display: flex;
    margin-bottom: 15PX;
}

#meta-logo>img {
    height: 20px;
    width: 20px;
}

.signup-header> a >i {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    /* margin-left: 20px; */
}

P {
    font-size: 16PX;
    font-family: Segoe UI Historic;
    font-weight: 400;
    font-stretch: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15PX;
    margin-bottom: 15px;
}

.input-type > input {
    height: 60px;
    width: 47%;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 18px;
    border: 2px solid gray;
    /* /* display: column; */
}

#dob-icon>i {
    margin-top: 20px;
}

#drop-down {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#drop-down>select {
    width: 32%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

#gander>select {
    height: 70px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.mobil-em {
    margin-top: 15px;
}

#mobil-email>input {
    height: 70px;
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    margin-top: 10px;
    border-style: solid;
}

.para {
    font-size: 25px;
}

#password {
    font-size: 20px;
    font-weight: bolder;
}

#pass>input {
    height: 70px;
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    margin-top: 10px;
    border-style: solid;
}

#para-2 {
    font-family: Segoe UI Historic;
    body-font-weight: bold;
    font-size: 20px;
}

span {
    color: rgb(0, 100, 224);
}

#sub-btn {
    height: 70px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    background-color: rgb(0, 100, 224);
}

#acc-btn {
    width: 100%;
    margin-top: 15px;
}

#acc-btn>button {
    width: 100%;
    height: 40px;
    color: rgba(24, 119, 242);

    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#acc-btn>button:hover {
    background-color: rgb(201, 200, 200);
}

#acc-btn>button>a {
    color: black;
    text-decoration: none;
}

.ad-inf > p {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
}